aside>img
{
    width: 20%;
}

body
{
    background-color: rgb(59, 59, 59);
    color: white;
    margin-left: 15px;
}

a:visited
{
    color: burlywood;
}

a
{
    color: green;
}

a:hover
{
    color: red;
}

h1, h2, h3
{
    color: red;
}