ul
{
    list-style: none;
}

nav
{
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    padding: 5px;
    border-radius: 15px;
    color: white;
    width: 130px;
    height: 130px;
    background-color: chocolate;
    
}

section
{
    text-align: justify;
    position: relative;
    left: 200px;
    top: -100px;
    min-height: 1000px;
}

footer
{

    bottom: 10px;
    color: white;
    background-color: black;
    min-width: 1000px;
    text-align: center;
}
