#content
{
    height: 250px;
    width: 400px;
    background: grey;
    border-radius: 20px;
    padding: 5px;

}

h2
{
    text-align: center;
}

#carre
{
    position: relative;
    background: red;
    width: 100px;
    height: 100px;
    top: 50px;
    margin: auto;
    animation: carre;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

@keyframes carre
{
    0% {background: red;}
    25% {background: yellow; transform: rotate(720deg);}
    100% {background: red;transform: rotate(-360deg);}
}