h1
{
    text-transform: uppercase;
    text-align: center;
}

h2
{
    text-transform: capitalize;
}

body
{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header
{
    background: red;
    justify-content: center;
}

nav
{
    text-align: center;
}

ul
{
    padding: 0px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: stretch;
    
}

li
{
    flex : 1;
    border: 2px outset;
}

article
{
    flex: 10;
    display: flex;
    justify-content: stretch;
}

section
{
    background: aqua;
    display: flex;
    flex-wrap: wrap;
    flex: 11;
}

p
{
    flex : 1 0 200px;
    padding-left: 10px;
}

aside:first-child
{
    flex: 3;
    background: yellow;
}

aside:last-child
{
    background: hotpink;
    flex: 3;
}

footer
{
    flex: 1;
    background: green;
    text-align: center;
}