header>p>img
{
    float: left;
}

h2
{
    min-width:400px;
    margin-bottom: -4px; 
}

header
{
    position: relative;
    width: 400px;
    border-bottom: 1px solid black;
}

#nb
{
    font-size: 2.3em;
    float: left;
}

#prec
{
    margin-left: 150px;
    min-width: 180px;
}

sup
{
    float: left;
}

article
{
    position: relative;
}

section>p
{
    margin-top:30px;
}

#today>p>img
{
    position: absolute;
    top:-30px;
    left: 130px;
}

#today>p:nth-child(2)
{
    position: absolute;
    top: -40px;
    left: 230px;
}

#today>p:nth-child(3)
{
    position: absolute;
    top: -40px;
    left: 300px;
    width: 70px;
}

#mercredi>p>img
{
    position: absolute;
    top: 50px;
    left: 130px;
}

#mercredi>p:nth-child(2)
{
    position: absolute;
    top: 30px;
    left: 230px;
}

#mercredi>p:nth-child(3)
{
    position: absolute;
    top: 30px;
    left: 300px;
    width: 70px;
}

#jeudi>p>img
{
    position: absolute;
    top: 130px;
    left: 130px;
}

#jeudi>p:nth-child(2)
{
    position: absolute;
    top: 110px;
    left: 230px;
}

#jeudi>p:nth-child(3)
{
    position: absolute;
    top: 110px;
    left: 300px;
    width: 70px;
}

#vendredi>p>img
{
    position: absolute;
    top:200px;
    left:130px;
}

#vendredi>p:nth-child(2)
{
    position: absolute;
    top : 180px;
    left : 230px;
}

#vendredi>p:nth-child(3)
{
    position: absolute;
    top : 180px;
    left: 300px;
    width: 70px;
}

#samedi>p>img
{
    position: absolute;
    top : 275px;
    left:130px;
}

#samedi>p:nth-child(2)
{
    position: absolute;
    top : 260px;
    left : 230px;
}

#samedi>p:nth-child(3)
{
    position: absolute;
    top : 260px;
    left: 300px;
    width: 70px;
}

#dimanche>p>img
{
    position: absolute;
    top: 350px;
    left:130px;
}

#dimanche>p:nth-child(2)
{
    position: absolute;
    top: 330px;
    left : 230px;
}

#dimanche>p:nth-child(3)
{
    position: absolute;
    top: 330px;
    left: 300px;
    width: 70px;
}

#lundi>p>img
{
    position: absolute;
    top: 430px;
    left:130px;
}

#lundi>p:nth-child(2)
{
    position: absolute;
    top: 410px;
    left : 230px;
}

#lundi>p:nth-child(3)
{
    position: absolute;
    top: 410px;
    left: 300px;
    width: 70px;
}

article>section
{
    border-bottom: 1px solid black;
    width: 400px;
    padding-bottom:10px;
}

@media screen and (max-width : 110px)
{
    font-size: 0.9em;
}

