header>p>img
{
    float: left;
}

h2
{
    min-width:400px;
    margin-bottom: -4px; 
}

header
{
    position: relative;
    min-width: 200%;

}


#nb
{
    font-size: 2.3em;
    float: left;
}

#prec
{
    margin-left: 150px;
    min-width: 180px;
}

sup
{
    float: left;
}

article
{
    position: relative;
}

section>p
{
    margin-top:30px;
}

