body
{
    display: flex;
    flex-direction: column;
}

h1
{
    text-align: center;
    background-color: #4CAF50;
    border: 2px solid black;
    width: 100%;
    margin-top: 10px;
}

h1 a
{
    text-decoration: none;
    color: white;
}


nav
{
    position: sticky;
    top : 10px;
    width: 100%;
    margin-left: 10px;
    margin-right: 1px;
    display: flex;
    justify-content: space-around;
}

nav ul 
{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

nav li 
{
    width: 185px;
    float:left;
    margin:auto;
    padding-top:7px;
    background-color:black;
    border: 0.2px solid green;
    min-width: 130px;
  
}

nav li a
{

    display:block;
    width:100%;
    color:white;
    text-decoration:none;
    text-align: center;
    height: 30px;
    
}

nav li a:hover
{
    color:#FFD700;
}

nav ul li ul
{
    display: none;
}

nav ul li:hover ul 
{
    display:block;
}
nav li:hover ul li 
{
    float:none;
}

nav li ul 
{
    position:absolute;
}
