h1
{
    text-align: center;
}

nav ul 
{
    display: flex;
    
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: center;
    flex-wrap: wrap;
    
    
}

nav li 
{
    float:left;
    margin:auto;
    padding:0;
    background-color:black;
    border: 0.2px solid red;
    min-width: 130px;
}

nav li a
{
    display:block;
    width:100px;
    color:white;
    text-decoration:none;
    padding:5px;
}

nav li a:hover
{
    color:#FFD700;
}

nav ul li ul
{
    display: none;
}

nav ul li:hover ul 
{
    display:block;
}
nav li:hover ul li 
{
    float:none;

}

nav li ul 
{
    position:absolute;
}