.grid-container
{
    height: 55vh;
    width: 800px;
    display: grid;
    grid-template-areas:
    ".  .  .  .  .  .  .  .  .  b1 .  .  .  .  .  .  .  .  . "
    ".  .  .  .  .  .  .  .  b2 r1 b3 .  .  .  .  .  .  .  . "
    ".  .  .  .  .  .  .  b4 r2 r2 r2 b5 .  .  .  .  .  .  . "
    ".  .  .  .  .  .  .  b4 r2 r2 r2 b5 .  .  .  .  .  .  . "
    ".  .  .  .  .  .  b6 r3 r3 r3 y1 y2 b7 .  .  .  .  .  . "
    ".  .  .  .  .  .  b6 r3 r3 r3 y1 y2 b7 .  .  .  .  .  . "
    "b8 b8 b8 b8 b8 b8 r4 r4 r4 y3 y3 g1 g1 b9 b9 b9 b9 b9 b9"
    "ba r5 r6 r6 r6 r6 r6 bb y4 y4 bc g1 g1 g2 n1 n1 n1 v1 bd"
    ".  be r6 r6 r6 r6 r6 bb y4 y4 bc g1 g1 n2 n2 n2 v2 bf . "
    ".  .  bg r7 r7 r7 y5 bb y6 g3 bc g1 n3 n3 n3 v3 bh .  . "
    ".  .  .  bi r8 y6 y6 y6 g4 g3 g5 n4 n4 n4 v5 bj .  .  . "
    ".  .  .  .  bk y7 y7 g6 g4 g3 n5 n5 n5 v6 bl .  .  .  . "
    ".  .  .  .  bk y8 g7 g6 g4 n6 n6 n6 v7 v7 bl .  .  .  . "
    ".  .  .  bm y9 g8 g7 g6 n7 n7 n7 v8 v8 v8 v8 bn .  .  . "
    ".  .  .  bm g9 g8 g7 n8 bo bo bo v9 v9 v9 v9 bn .  .  . "
    ".  .  bp ga g9 g8 bq bq .  .  .  br br va va h1 bs .  . "
    ".  .  bp ga g9 bt .  .  .  .  .  .  .  bu h2 h1 bs .  . "
    ".  .  bp bv bv .  .  .  .  .  .  .  .  .  bw bw bs .  . ";

    
    
    grid-gap: 8px;
    background: white;
    padding: 10px;
}

.item1, .item2, .item3, .item4, .item5, .item6, 
.item7, .item8, .item9, .item10, .item11, .item12, 
.item13, .item14, .item15, .item16
{
    background: black;
}

.item17, .item18, .item19, .item20
{
    background: red;
}

.item21, .item22, .item23, .item24, .item25
{
    background: yellow;
}

.item26, .item27, .item28, .item29, .item30
{
    background: green;
}

.item1
{
    background :aqua;
}

.item
{
    background: blue;
}

.item
{
    background: rgb(0, 0, 146);
}

.item1
{
    grid-area: b1;
}

.item2
{
    grid-area: w2;
}

.item3
{
    grid-area: w3;
}

.item4
{
    grid-area: w4;
}

.item5
{
    grid-area: w5;
}

.item6
{
    grid-area: w6;
}

.item7
{
    grid-area: w7;
}

.item8
{
    grid-area: w8;
}

.item9
{
    grid-area: w9;
}

.item10
{
    grid-area: z1;
}

.item11
{
    grid-area: z2;
}

.item12
{
    grid-area: z3;
}

.item13
{
    grid-area: z4;
}

.item14
{
    grid-area: z5;
}

.item15
{
    grid-area: z6;
}

.item16
{
    grid-area: z7;
}

.item17
{
    grid-area: ;
}

.item18
{
    grid-area: ;
}

.item19
{
    grid-area: ;
}

.item20
{
    grid-area: ;
}

.item21
{
    grid-area: y1;
}

.item22
{
    grid-area: y2;
}

.item23
{
    grid-area: y3;
}

.item24
{
    grid-area: y4;
}

.item25
{
    grid-area: y5;
}

.item26
{
    grid-area: o1;
}

.item27
{
    grid-area: o2;
}

.item28
{
    grid-area: o3;
}

.item29
{
    grid-area: o4;
}

.item30
{
    grid-area: o5;
}
