.vert
{
    position: relative;
    background-color: green;
    width: 400px;
    height: 200px;
    border: 3px solid black;
}

.bleue
{
    position: absolute;
    left:200px;
    background-color: rgba(0, 0, 255, 0.5);
    border: 3px solid black;
    width: 70%;
    height: 60%;
    margin: auto;
    margin-top: 9%;

}

.orange
{
    position: absolute;
    left: -220px;
    background-color: chocolate;
    border: 3px solid black;
    width: 100%;
    height: 60%;
    margin: auto;
    margin-top: 7%;
}