body
{
    background-color: rgb(180, 152, 246);
    color: white;
}

table
{
    border-collapse: collapse;
}

td , th
{
    border: 1px solid white;
}

td
{
    text-align: center;
}

pre
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

a
{
    color: yellow;
}

a:visited
{
    color: red;
}

a:hover
{
    color: blue;
}
